* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}


/* navbar */
#logo {
    width: 25%;
    height: 60px;
}

.navbar-brand {
    display: flex;
}

.navbar-brand h2 {
    font-family: "Kaushan Script", cursive;
    font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 40px;
}

.nav-item a {
    color: rgb(0, 0, 0);
}

.nav-item {
    font-size: 20px;
}

.nav-link:hover {
    color: rgb(130, 31, 160);
    text-decoration: underline;
    text-shadow: 1px 1px;
}


/* Modal */
.custom-modal-width {
    max-width: 60%;
}

.bottom {
    margin-top: 70px;
    font-size: 10px;
}


/* Home */
.home_section {
    width: 100%;
    height: 90vh;
}

#home h1 {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 50px;
    font-weight: 700;
}

#home p {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 20px;
}

#home img {
    border-radius: 5px;
    height: 80%;
}


/* Trip planner */
#trip_plan {
    background-color: rgb(130, 31, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

@media(max-width:600px) {

    #trip_plan,
    #trip_plan1 {
        padding: 0 !important;
    }

    .trip_planner,
    .useful_information {
        padding: 0 !important;
    }

    .login {
        margin: 0 !important;
    }

    .heading,
    .heading+p {
        padding-left: 0 !important;
        margin-left: 15px !important;
    }

    .custom-modal-width {
        width: 100%;
        max-width: 100%;
    }
}

.heading {
    color: black;

}

#trip_plan h1 {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 30px;
    color: white;
    padding-bottom: 10px;
}

#trip_plan p {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 17px;
    padding-bottom: 25px;
    color: white;
}

.image_grp {
    border-radius: 5px;
    height: 450px;
}


/* useful information */
#trip_plan1 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#trip_plan1 h1 {
    font-family: "Hind Siliguri", sans-serif;
    font-size: 30px;
    color: rgb(130, 31, 160);
    padding-bottom: 10px;
}

.btn-clr {
    background-color: rgb(130, 31, 160);
    color: white;
}

.btn-clr:hover {
    background-color: rgb(236, 222, 241);
    color: rgb(130, 31, 160);
    border-color: rgb(130, 31, 160);
}


/* popular packages */
.imag1 {
    position: relative;
    overflow: hidden;
    /* to zoom only inside the box when hovering */
}

.imag1 img {
    transition: transform 0.3s ease;
}

.imag1:hover img {
    transform: scale(1.5);
}

.text {
    width: 100%;
    padding: 2%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text h5 {
    font-size: 30px;
    font-weight: 500;
}


/* unknown places */
.card-img {
    width: 100%;
    height: 250px;
}

.card-body i {
    font-size: x-large;
}


/* special tour */
.feature {
    width: 300px;
    height: 300px;
    background-color: rgba(212, 229, 235, 0.497);
    border: 1px solid black;
    padding: 20px;
    border-radius: 50px;
    margin: 25px;
}

.feature p {
    font-weight: 600;
    margin-bottom: 10px;
}

.feature a {
    color: blue;
    font-weight: 400;
}

.card2 img {
    border-radius: 50%;
    padding-bottom: 15px
}

.card2 {
    display: flex;
    padding: 40px;
    text-align: center;
}

.card2 a {
    text-decoration: none;
}


/* testimonials */
.customer img {
    border-radius: 50%;
    width: 50px;
}

.checked {
    color: rgb(208, 189, 61);
}


/* faq */
.accordion-button {
    background-color: rgb(236, 222, 241);
    color: black;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: rgb(236, 222, 241);
}


/* footer */
.footer h3 {
    font-size: 20px;
    font-weight: 600;
}

.footer h4 {
    font-size: 18px;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright i {
    color: white;
}